body {
	padding: 1em;
}

.articles {
}

.article {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	.article-details {
		flex: 2;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
	}

	.images,
	.titles {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-end;
	}

	.images {
		.image {
			display: flex;
			flex-direction: column;
		}
		img {
			max-width: 200px;
			max-height: 150px;
			object-fit: contain;
		}
	}
	.titles {
		
	}

	.button-add {
		flex: 1;
		max-width: 15em;
	}

}

.article-and-buttons {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;	
}

hr {
	border-top: 1px solid #9b4dca;
}

.action-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

input,
textarea {
	width: 100%;
	background-color: white;
	outline: none;
	border-radius: 0.2em;
	border: 1px solid lightgray;
	padding: 0.5em;

	&.yellow {
		background-color: yellow;
	}
	&.red {
		background-color: red;
	}
}

button {
	width: 100%;
}

.settings-button {
	position: absolute;
	right: 1em;
	top: 1em;
	width: 10em;
}