body {
  padding: 1em; }

.article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .article .article-details {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start; }
  .article .images,
  .article .titles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end; }
  .article .images .image {
    display: flex;
    flex-direction: column; }
  .article .images img {
    max-width: 200px;
    max-height: 150px;
    object-fit: contain; }
  .article .button-add {
    flex: 1;
    max-width: 15em; }

.article-and-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

@media (max-width: 550px) {
  .article .images,
  .article .titles {
    flex-direction: column; }
  .article-and-buttons {
    display: block; } }

hr {
  border-top: 1px solid #9b4dca; }

.action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

input,
textarea {
  width: 100%;
  background-color: white;
  outline: none;
  border-radius: 0.2em;
  border: 1px solid lightgray;
  padding: 0.5em; }
  input.yellow,
  textarea.yellow {
    background-color: yellow; }
  input.red,
  textarea.red {
    background-color: red; }

button {
  width: 100%; }

.flash-message {
  position: fixed;
  z-index: 1000;
  width: 50%;
  min-width: 300px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  font-size: 0.8em;
  padding: 0.5em;
  border-radius: 0.5em;
  transition: all 0.25s;
  top: -40px;
  opacity: 0; }
  .flash-message.active {
    opacity: 1;
    top: 0; }

nav {
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: #f4f5f6;
  border-bottom: 1px solid #d1d1d1;
  color: #9b4dca;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em; }
  nav h1 {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0; }
  nav .button, nav button {
    margin: 0; }

.container {
  margin-top: 60px; }
